<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>HOME</title>
</head>
<body>
    <h1>HOME</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem eaque aperiam doloribus, minus quas vel corporis delectus, nostrum dolorem, porro officia neque. Officiis laborum accusantium ipsam rerum ab, rem commodi.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad earum sunt praesentium reiciendis magni necessitatibus illo autem fugiat atque, non similique consequuntur omnis odit vitae in. Voluptatem temporibus corrupti ex velit architecto voluptatibus veniam molestias laboriosam? Eligendi quasi officiis aspernatur earum facilis esse soluta doloremque nobis quos magnam, facere quibusdam!</p>
</body>
</html>