<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilo/home.css">
    <title>HOME</title>

</head>
<body>
    <section id="form">
        <div id="acessoText">
            ACESSO
        </div>
        <form action="" method="post">
            <label for="ilogin">LOGIN</label>
            <input type="text" name="login" id="ilogin" maxlength="12" required>
            <br>
            <label for="isenha">SENHA</label>
            <input type="text" name="senha" id="isenha" maxlength="10" required>
            <br>
            <button type="submit">ACESSAR</button>
            <button type="reset">Limpar Campos</button>
        </form>
    </section>
</body>
</html>