<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilo/vitrine.css">
    <title>VITRINE</title>
</head>
<body>
    <table>
        <caption>LOJA DE PRODUTOS</caption>
        <tbody>
            <tr>
                <td>
                    <img src="/img/coxinha.png" alt="Coxinha" width="50px" height="auto">
                    <br>
                    Coxinha
                    <br>
                    <label for="icoxinha">Qtde</label>
                    <input type="number" name="coxinha" id="icoxinha">
                    <br>
                    <button type="submit">Comprar</button>
                </td>
                <td>
                    <img src="/img/croissant.png" alt="Croissant" width="50px" height="auto">
                    <br>
                    Croissant
                    <br>
                    <label for="icroissant">Qtde</label>
                    <input type="number" name="croissant" id="icroissant">
                    <br>
                    <button type="submit">Comprar</button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/img/esfiha-de-frango.png" alt="Esfiha de Frango" width="50px" height="auto">
                    <br>
                    Esfiha de Frango
                    <br>
                    <label for="iefrango">Qtde</label>
                    <input type="number" name="efrango" id="iefrango">
                    <br>
                    <button type="submit">Comprar</button>
                </td>
                <td>
                    <img src="/img/lanche-hamburguer.png" alt="Lanche Hambúrguer" width="50px" height="auto">
                    <br>
                    Hambúrguer
                    <br>
                    <label for="iham">Qtde</label>
                    <input type="number" name="ham" id="iham">
                    <br>
                    <button type="submit">Comprar</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>