<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Seja bem vindo a página.</h1>
    <form action="/cadastro" method="post">
        <p>
            <label for="inome">Nome:</label>
            <input type="text" name="nome" id="inome" required>
        </p>
        <p>
            <label for="isobrenome">Sobrenome:</label>
            <input type="text" name="sobrenome" id="isobrenome" required>
        </p>
        <p>
            <label for="inome">Email:</label>
            <input type="text" name="email" id="iemail" required>
        </p>
    </form>
</body>
</html>